body{
    background-color: darkred;
    color: rgb(37, 1, 1);
    font-family: sans-serif;
    margin: 0px;
}
header {border-bottom: solid 4px rgb(97, 3, 3);
padding: 10px;
font-size: 32px;
color: goldenrod;
}
section{background: yellow;
padding-bottom: 80px;
padding-top: 50 px;
display: flex;
justify-content: center;
}